pkgbase = nody-greeter
	pkgdesc = LightDM greeter that allows to create wonderful themes with web technologies. Made in Node.js
	pkgver = 1.6.2
	pkgrel = 1
	url = https://github.com/JezerM/nody-greeter
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = nodejs<19
	makedepends = npm
	makedepends = python3
	makedepends = git
	depends = lightdm
	depends = gobject-introspection
	depends = cairo
	depends = libxcb
	depends = libx11
	depends = nss
	depends = libxcomposite
	depends = pango
	depends = nspr
	depends = hicolor-icon-theme
	depends = gtk3
	depends = at-spi2-core
	depends = alsa-lib
	depends = libcups
	depends = libxkbcommon
	depends = libxdamage
	optdepends = acpid: brightness control and battery status support
	provides = web-greeter
	conflicts = web-greeter
	conflicts = sea-greeter
	backup = etc/lightdm/web-greeter.yml
	source = nody-greeter-1.6.2::git+https://github.com/JezerM/nody-greeter#tag=1.6.2
	source = package.patch
	sha512sums = d997092f267ca41b734aaea4fe231cd5210739b08614d329d95431858cd4120fbea7d76a7e147f0f7acf09ffa17f987d47d40e4e09237d02964685180865efb7
	sha512sums = 63396c97ebc6e6fc814723ba0e87877777790f4649a35f7434222eef4737937cfd4d11c82b5a0dac53c20f3d31d8d587205a63cb4ae8a8ab616ce0ce53bf72e6

pkgname = nody-greeter
