pkgbase = xclicker
	pkgdesc = A blazing fast gui autoclicker for linux
	pkgver = 1.5.1
	pkgrel = 1
	url = https://github.com/robiot/xclicker
	arch = x86_64
	arch = aarch64
	license = GPL-3.0-only
	makedepends = meson
	makedepends = libx11
	makedepends = libxi
	makedepends = libxtst
	makedepends = pkgconf
	depends = gtk3
	source = https://github.com/robiot/xclicker/archive/refs/tags/v1.5.1.tar.gz
	sha512sums = 3edaca35b52c8eacc2deb87201bd913bbe26812621ce8fb0bfc30862cf076590824223f8945be29e5799d2af3e89a1756e20d934aadbfcc4a5b10fd2f5e98ada

pkgname = xclicker
