pkgbase = python-i686-bin
	pkgdesc = Major release 3.11 of the Python high-level programming language (32-bit)
	pkgver = 3.11.8
	pkgrel = 7
	url = https://www.python.org/
	arch = x86_64
	license = PSF-2.0
	makedepends = tar
	depends = glibc
	depends = zlib
	depends = bzip2
	depends = openssl
	depends = libffi
	provides = python-i686
	options = !debug
	source = python-32-bit.tar.gz::https://github.com/shdwmtr/pybuilder/releases/download/v1.0.6/python-3.11.8-32-bit.tar.gz
	sha512sums = 74ee4d03d6f99ec0dc2246bbd018b3e8e4a7618b60701e3c7572c7290c8cc12d2959ff9c3f7b6a3369cba0b8115ad63e32aafe0b1b2f6aa2cdcf3e3b70f64e90

pkgname = python-i686-bin
