pkgbase = proton-ge-bin
	pkgdesc = Compatibility tool for Steam Play based on Wine and additional components
	pkgver = GE.Proton10.9
	pkgrel = 1
	url = https://github.com/GloriousEggroll/proton-ge-custom
	arch = x86_64
	license = BSD
	license = LGPL
	license = zlib
	license = MIT
	license = MPL
	license = custom
	makedepends = git
	makedepends = tar
	makedepends = findutils
	depends = python
	depends = vulkan-icd-loader
	depends = lib32-openal
	depends = lib32-vkd3d
	depends = lib32-libva
	depends = ffmpeg4.4
	depends = lib32-speex
	depends = lib32-libtheora
	depends = lib32-libvdpau
	depends = gst-plugins-bad-libs
	depends = lib32-gst-plugins-base-libs
	depends = libjpeg6-turbo
	depends = graphene
	depends = lib32-libjpeg6-turbo
	depends = lib32-libgudev
	depends = lib32-mpg123
	depends = libsoup
	depends = lib32-openssl-1.1
	depends = lib32-libusb
	optdepends = kdialog: KDE splash dialog support
	optdepends = zenity: GNOME splash dialog support
	optdepends = python-kivy: splash dialog support (big picture mode)
	optdepends = steam: use proton with steam like intended
	optdepends = lib32-vulkan-icd-loader: dxvk dependency for 32bit prefixes
	optdepends = vulkan-driver: driver to be used by dxvk
	optdepends = winetricks: protonfixes backend - highly recommended
	optdepends = wine: support for 32bit prefixes
	optdepends = xboxdrv: gamepad driver service
	provides = proton
	provides = proton-ge=GE.Proton10.9
	conflicts = proton-ge
	conflicts = proton-ge-custom
	options = emptydirs
	backup = opt/proton-ge/user_settings.py
	source = proton-ge-bin-GE.Proton10.9.tar.gz::https://github.com/GloriousEggroll/proton-ge-custom/releases/download/GE-Proton10-9/GE-Proton10-9.tar.gz
	source = user_settings.py
	sha512sums = d5ce1989a827b8589d0ee4380b846755a9c6278307dd4fb7ca9ff966d360a4f44876c796ffdb2008ace9e99660f902804b3d68f36256b55f6b22e8a2933b6980
	sha512sums = fd9a7d237ddadaf331d9ab1f62eb0b64da120c1e7becd91bbfc5434cc59fef7d6e7697354de417e2c1e071172820d01f60bb147a410580e4f8d3d1bb5e18d215

pkgname = proton-ge-bin
