pkgbase = web-greeter
	pkgdesc = A modern, visually appealing greeter for LightDM
	pkgver = 3.5.3
	pkgrel = 2
	url = https://github.com/JezerM/web-greeter
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = rsync
	makedepends = zip
	makedepends = make
	makedepends = patch
	makedepends = gcc
	makedepends = typescript
	makedepends = git
	depends = lightdm
	depends = python3
	depends = python-gobject
	depends = python-pyqt5
	depends = python-pyqt5-webengine
	depends = python-ruamel-yaml
	depends = python-pyinotify
	depends = python-xlib
	depends = qt5-webengine
	depends = qt5-webengine
	depends = gobject-introspection
	depends = libxcb
	depends = libx11
	depends = hicolor-icon-theme
	depends = glibc
	optdepends = acpid: brightness control and battery status support
	conflicts = nody-greeter
	conflicts = sea-greeter
	backup = etc/lightdm/web-greeter.yml
	source = web-greeter-3.5.3::git+https://github.com/JezerM/web-greeter#tag=3.5.3
	source = package.patch
	source = v3.5.3-to-0bfa7f0.patch
	sha512sums = 9f91157806b1377d78cace041091002477b02d83d1662cbbf27f22c1356266b9f55afe010849f86ae9ba08345eb3155c481f1bf905d31f1f53944e65717000ff
	sha512sums = 8146f3e6047fff6ebd24cd6a2fda91322e75bef24d54cad5112e4f0daffc4f0713505f062dfb9c24255de0c2a08856f3224fe57a668247941eba73f434cad0d6
	sha512sums = aad943b08e6f69e05250ae3840a98dd54eb7ef0e9b3ccb0ac3e7f5890eae8a06e4a866e2108cb23a11aa4b0d4c56f65e82ff6e1658ecb098ac7f0e48e5ada140

pkgname = web-greeter
