pkgbase = wallpapers
	pkgdesc = Personal collection of wallpapers curated over time for their visual appeal, mood, and artistic value
	pkgver = v0.0.0
	pkgrel = 1
	url = https://github.com/TheWisker/Wallpapers
	arch = any
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = findutils
	provides = wallpapers
	source = wallpapers-v0.0.0::git+https://github.com/TheWisker/Wallpapers#tag=v0.0.0
	sha512sums = 64670013359e6f3577dd2289259d45d7c8b46a7a58c1a1bfe0ea37c71b5ff84397199a4fd312736f4bd3cc131b0cbb100218e348403f5e64c7059b6041563c92

pkgname = wallpapers
